// button and selected rating
$Orange: hsl(25, 97%, 53%);

// text
$White: hsl(0, 0%, 100%);
$Light_Grey: hsl(217, 12%, 63%);
$Medium_Grey: hsl(216, 12%, 54%);

// card background - used as gradient
$Dark_Blue: hsl(213, 20%, 18%);

// page background color
$Very_Dark_Blue: hsl(216, 12%, 8%);