<section class="card" *ngIf="step==1">
    <div class="header">

        <span class="circle">
            <img src="assets/icon-star.svg" alt="a star" class="star-icon">
        </span>
        
    </div>

    <div class="content">

        <h1 class="header">
            How did we do?
        </h1>


        <p class="description">
            Please let us know how we did with your support request. All feedback is appreciated 
  to help us improve our offering!
        </p>

    </div>


    <div class="ratings">

        <span *ngFor="let rating of ratings" 
            class="rating" [ngClass]="{'selected': rating == value}"
            (click)="ratingSelected(rating)" [attr.data-testid]="rating === 2 ? rating : null">
            {{rating}} 
        </span>
    </div>

    <div class="footer">
        <button class="submit" (click)="submitClicked()">Submit</button>
    </div>
    

</section>

<section class="card step-2" *ngIf="step==2">
        
   <img src="assets/illustration-thank-you.svg" alt="thank you">

   <span class="user-rating"><span class="rating-text"> You selected {{value}} out of 5</span></span> 

  <h1>Thank you!</h1>

  <p class="description step-2">
    We appreciate you taking the time to give a rating. If you ever need more support, 
  don’t hesitate to get in touch!
  </p>
  

</section>